@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    box-sizing: border-box;
    font-family: var(--font1);
    margin: 0;
    padding: 0;

}


body {
    background-color: var(--bg-primaire);
    
}
/*  */
:root {
  --bg-primaire:   #f6fbff;
  --bg-secondaire: #6d4aff;
  --text-primaire: black;
  --text-secondaire: black ;
  --blanc : #ffff ;
  --noire : #000000 ;
  --p-color: #26292896;
  --font1:  "Baumans", system-ui;
  --font2: "Urbanist", sans-serif;
  --clo :   #1fa21a;



}




